CREATE TABLE "__EFMigrationsLock" (

    "Id" NUMBER(10) NOT NULL CONSTRAINT "PK___EFMigrationsLock" PRIMARY KEY,

    "Timestamp" TIMESTAMP NOT NULL

);

CREATE TABLE "__EFMigrationsHistory" (

    "MigrationId" VARCHAR2(150 CHAR) NOT NULL CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY,

    "ProductVersion" VARCHAR2(32 CHAR) NOT NULL

);

CREATE TABLE "docentes" (

    "id_docente" VARCHAR2(36 CHAR) NOT NULL CONSTRAINT "PK_docentes" PRIMARY KEY,

    "identificacion" VARCHAR2(30 CHAR) NOT NULL,

    "nombre" VARCHAR2(255 CHAR) NOT NULL,

    "tipo_contrato" VARCHAR2(80 CHAR) NOT NULL,

    "max_asignaturas" NUMBER(10) NOT NULL

);

CREATE TABLE "planes_estudio" (

    "id_plan" VARCHAR2(36 CHAR) NOT NULL CONSTRAINT "PK_planes_estudio" PRIMARY KEY,

    "nombre_plan" VARCHAR2(255 CHAR) NOT NULL,

    "jornada" VARCHAR2(50 CHAR) NOT NULL

);

CREATE TABLE "roles" (

    "id_rol" NUMBER GENERATED BY DEFAULT ON NULL AS IDENTITY CONSTRAINT "PK_roles" PRIMARY KEY,

    "nombre_rol" VARCHAR2(100 CHAR) NOT NULL

);

CREATE TABLE "disponibilidad" (

    "id_disponibilidad" VARCHAR2(36 CHAR) NOT NULL CONSTRAINT "PK_disponibilidad" PRIMARY KEY,

    "id_docente" VARCHAR2(36 CHAR) NOT NULL,

    "dia_semana" NUMBER(10) NOT NULL,

    "hora_inicio" VARCHAR2(8 CHAR) NOT NULL,

    "hora_fin" VARCHAR2(8 CHAR) NOT NULL,

    CONSTRAINT "FK_disponibilidad_docentes_id_docente" FOREIGN KEY ("id_docente") REFERENCES "docentes" ("id_docente") ON DELETE CASCADE

);

CREATE TABLE "asignaturas" (

    "id_asignatura" VARCHAR2(36 CHAR) NOT NULL CONSTRAINT "PK_asignaturas" PRIMARY KEY,

    "id_plan" VARCHAR2(36 CHAR) NOT NULL,

    "codigo" VARCHAR2(50 CHAR) NOT NULL,

    "nombre" VARCHAR2(255 CHAR) NOT NULL,

    "creditos" NUMBER(10) NOT NULL,

    "semestre" NUMBER(10) NOT NULL,

    "min_estudiantes" NUMBER(10) DEFAULT 15 NOT NULL,

    "es_fija_tapsi" NUMBER(1) DEFAULT 0 NOT NULL,

    "es_opcional_tapsi_diurna" NUMBER(1) DEFAULT 0 NOT NULL,

    CONSTRAINT "FK_asignaturas_planes_estudio_id_plan" FOREIGN KEY ("id_plan") REFERENCES "planes_estudio" ("id_plan")

);

CREATE TABLE "usuarios" (

    "id_usuario" VARCHAR2(36 CHAR) NOT NULL CONSTRAINT "PK_usuarios" PRIMARY KEY,

    "id_rol" NUMBER(10) NOT NULL,

    "correo" VARCHAR2(255 CHAR) NOT NULL,

    "password_hash" VARCHAR2(255 CHAR) NOT NULL,

    "nombre_completo" VARCHAR2(255 CHAR) NOT NULL,

    CONSTRAINT "FK_usuarios_roles_id_rol" FOREIGN KEY ("id_rol") REFERENCES "roles" ("id_rol")

);

CREATE TABLE "asignaciones" (

    "id_asignacion" VARCHAR2(36 CHAR) NOT NULL CONSTRAINT "PK_asignaciones" PRIMARY KEY,

    "id_docente" VARCHAR2(36 CHAR) NOT NULL,

    "id_asignatura" VARCHAR2(36 CHAR) NOT NULL,

    "dia" NUMBER(10) NOT NULL,

    "hora_inicio" VARCHAR2(8 CHAR) NOT NULL,

    "hora_fin" VARCHAR2(8 CHAR) NOT NULL,

    "periodo" VARCHAR2(20 CHAR) NOT NULL,

    "estado" VARCHAR2(30 CHAR) DEFAULT 'Propuesta' NOT NULL,

    "escenario" VARCHAR2(30 CHAR) DEFAULT 'ING_DIURNA' NOT NULL,

    CONSTRAINT "FK_asignaciones_asignaturas_id_asignatura" FOREIGN KEY ("id_asignatura") REFERENCES "asignaturas" ("id_asignatura"),

    CONSTRAINT "FK_asignaciones_docentes_id_docente" FOREIGN KEY ("id_docente") REFERENCES "docentes" ("id_docente")

);

CREATE TABLE "docentes_habilitados" (

    "id_docente" VARCHAR2(36 CHAR) NOT NULL,

    "id_asignatura" VARCHAR2(36 CHAR) NOT NULL,

    "fecha_habilitacion" TIMESTAMP NOT NULL,

    "fuente" VARCHAR2(50 CHAR) DEFAULT 'Excel' NOT NULL,

    CONSTRAINT "PK_docentes_habilitados" PRIMARY KEY ("id_docente", "id_asignatura"),

    CONSTRAINT "FK_docentes_habilitados_asignaturas_id_asignatura" FOREIGN KEY ("id_asignatura") REFERENCES "asignaturas" ("id_asignatura") ON DELETE CASCADE,

    CONSTRAINT "FK_docentes_habilitados_docentes_id_docente" FOREIGN KEY ("id_docente") REFERENCES "docentes" ("id_docente") ON DELETE CASCADE

);

CREATE INDEX "IX_asignaciones_id_asignatura" ON "asignaciones" ("id_asignatura");
CREATE INDEX "IX_asignaciones_id_docente" ON "asignaciones" ("id_docente");
CREATE UNIQUE INDEX "IX_asignaturas_codigo" ON "asignaturas" ("codigo");
CREATE INDEX "IX_asignaturas_id_plan" ON "asignaturas" ("id_plan");
CREATE INDEX "IX_disponibilidad_id_docente" ON "disponibilidad" ("id_docente");
CREATE UNIQUE INDEX "IX_docentes_identificacion" ON "docentes" ("identificacion");
CREATE INDEX "IX_docentes_habilitados_id_asignatura" ON "docentes_habilitados" ("id_asignatura");
CREATE UNIQUE INDEX "IX_roles_nombre_rol" ON "roles" ("nombre_rol");
CREATE UNIQUE INDEX "IX_usuarios_correo" ON "usuarios" ("correo");
CREATE INDEX "IX_usuarios_id_rol" ON "usuarios" ("id_rol");

CREATE TABLE "bloqueos_franja_asignatura" (

    "id_bloqueo" VARCHAR2(36 CHAR) NOT NULL CONSTRAINT "PK_bloqueos_franja_asignatura" PRIMARY KEY,

    "id_asignatura" VARCHAR2(36 CHAR) NOT NULL,

    "periodo" VARCHAR2(20 CHAR) NOT NULL,

    "dia" NUMBER(10) NOT NULL CHECK ("dia" BETWEEN 1 AND 6),

    "hora_inicio" VARCHAR2(8 CHAR) NOT NULL,

    "hora_fin" VARCHAR2(8 CHAR) NOT NULL,

    "motivo" VARCHAR2(500 CHAR) NULL,

    "fecha_creacion_utc" TIMESTAMP WITH TIME ZONE NOT NULL,

    CONSTRAINT "FK_bloqueos_franja_asignatura_asignaturas_id_asignatura" FOREIGN KEY ("id_asignatura") REFERENCES "asignaturas" ("id_asignatura") ON DELETE CASCADE

);

CREATE UNIQUE INDEX "IX_bloqueos_franja_asignatura_unico"

    ON "bloqueos_franja_asignatura" ("id_asignatura", "periodo", "dia", "hora_inicio", "hora_fin");
